<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <%= link_to("使用这个模板", new_ldpage_path, class: "btn btn-lg btn-danger") %>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <%= link_to("使用这个模板", new_ldpage_path, class: "btn btn-lg btn-danger") %>
    </div>
  </div>
</div>
