<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <%= link_to ("选择这个模板", new_ldpage_path) do %>
        <img src="http://ussec.org/wp-content/plugins/social-media-builder//img/no-image.png", width="200"/>
      <% end %>
    </div>
  </div>
</div>
