<!DOCTYPE html>
<html>
  <head>
    <title>Landingpage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-top: 50px; padding-bottom: 20px;">
    <%= yield %>
  </body>
</html>
